@model Customer
@{
    ViewBag.Title = "Delete Customer";
}

<h2>Confirm Deletion</h2>
<h3>@Model.FullName (@Model.Email)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Customers" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>

