@model Incident
@{
    ViewBag.Title = "Delete Incident";
}

<h2>Confirm Deletion</h2>
@*<h3>@Model.Name (@Model.Year)</h3>*@

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IncidentID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>
