@model Incident
@{
    ViewBag.Title = "Delete Incident";
}

<h2>Confirm Deletion</h2>
<h3>Customer: @Model.Customer.FullName</h3>
<h3>Technician: @Model.Technician.Name</h3>
<h3>Product: @Model.Product.Name</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IncidentID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Incidents" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>

