@model Technician
@{
    string title = ViewBag.Action == "Add" ? "Add" : "Edit";
    ViewBag.Title = title;
}

@*Add Validation to Add Edit Pages*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="text-center">
    <h1 style="background-color: #decdc3; font-size:50px" class="jumbotron"><b>@ViewBag.Action Technician</b></h1>
</div>

<form asp-action="Edit" asp-controller="Technicians" method="post">
    @if (ViewBag.Action == "Edit")
    {
        <input asp-for="TechnicianID" type="hidden" value="@Model.TechnicianID" />
    }
    <div class="form-group">
        <label for="name">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name" value=@Model.Name>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input asp-for="Email" type="email" class="form-control" id="email" placeholder="Enter Email" value=@Model.Email>
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
        <input asp-for="Phone" type="text" class="form-control" id="phone" placeholder="Phone" value=@Model.Phone>
    </div>
    <button type="submit" class="btn" style="background-color: #5c848e; color:white">Save</button>
    <a asp-controller="Technicians" asp-action="Index"class="btn" style="background-color: #5c848e; color:white">Cancel</a>
</form>
