@model Product
@{
    ViewBag.Title = "Delete Product";
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name </h3>

<form asp-action="DeleteProduct" method="post">
    <input type="hidden" asp-for="@Model.ProductID" />
    @*<input type="hidden" asp-for="Name" />*@

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Registration" asp-action="Registrations"
       class="btn btn-primary">Cancel</a>
</form>