@*Not completed page*@

@model RegisterViewModel

<h2>Get Customer</h2>

<form asp-controller="Registration" asp-action="Registrations">
    @*<div asp-validation-summary="All" class="text-danger"></div>*@


    <div class="form-group">


        <select asp-for="CurrentCustomer.CustomerID" class="form-control">
            <option value="">Please select one</option>
            @foreach (Customer customer in Model.Customers)
            {
                <option value="@customer.CustomerID">@customer.FullName</option>
            }
        </select>
        <span asp-validation-for="CurrentCustomer.CustomerID" style="color:red">@Model.WarningText</span>

    </div>


    <div>
        <button type="submit" class="btn" style="background-color: #5c848e; color:white">Select</button>

        <a asp-controller="Home" asp-action="Index"
           class="btn" style="background-color: #5c848e; color:white">Cancel</a>
    </div>
</form>