@model Product
@{
    ViewBag.Title = "Delete Product";
}
<div class="alert alert-danger">
    <h2>Confirm Deletion</h2>
    <h3>@Model.Name (@Model.ReleaseDate)</h3>@*Confirmation of Product to be deleted*@

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductID" />

    <button type="submit" class="btn btn-primary">Delete</button>@*Delete button*@
    <a asp-controller="Products" asp-action="Index"
       class="btn btn-primary">Cancel</a>@*Cancel button*@
</form>
</div>