@model Product
@{
    string title = ViewBag.Action == "Add" ? "Add" : "Edit";@*Title of page is either add or edit, based on what button was clicked*@
    ViewBag.Title = title;
    ViewBag.Date = ViewBag.Action == "Add" ? DateTime.Now : Model.ReleaseDate;
}

@*Add Validation to Add Edit Pages*@
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div class="text-center">
    @*Product and associated info*@
<h1 style="background-color: #decdc3; font-size: 50px" class="jumbotron"><b>@ViewBag.Action Product</b></h1>
</div>

<form asp-action="Edit" asp-controller="Products" method="post">
    @if (ViewBag.Action == "Edit")
    {
        <input asp-for="ProductID" type="hidden" value="@Model.ProductID" />
    }
    <div class="form-group">
        <label for="code">Code</label>
        <input asp-for="ProductCode" type="text" class="form-control" id="code" placeholder="Enter Code" value=@Model.ProductCode>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name" value=@Model.Name>
    </div>
    <div class="form-group">
        <label for="price">Yearly Price</label>
        <input asp-for="YearlyPrice" type="text" class="form-control" id="price" placeholder="Yearly Price" value=@Model.YearlyPrice>
    </div>
    <div class="form-group">
        <label for="date">Release Date</label>
        <input asp-for="ReleaseDate" type="datetime" class="form-control" id="date" placeholder="Release Date" value="@ViewBag.Date">
    </div>
    <button type="submit" class="btn" style="background-color: #5c848e; color:white">Save</button>@*Save button*@
    <a asp-controller="Products" asp-action="Index" class="btn" style="background-color: #5c848e; color:white">Cancel</a>@*Cancel button*@
</form>
